:root{
    --colorbase: rgb(9, 136, 209);
    --padrao_font:'Rubik', sans-serif;
    
}


body {
    background-color: var(--colorbase);
    font-family: var(--padrao_font);
    height: 100%;
}

.all{
   width: 800px; 
   margin: 30px auto;
   color: white;
   text-align: center;
   font-weight: bolder;
}

p {
    font-size: 2em;
}

h1 {
    font-family: var(--padrao_font);
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

h2 {
    font-family: var(--padrao_font);
    font-weight: 100;
    font-size: 1.6em;
    text-transform: uppercase;
}



button {
background: var(--colorbase) ;
color: white;
border: solid 1px white;
cursor: pointer;
font-size: 1.0em;
padding: 18px 10px;
width: 180px;
}

